@page
@model MyPersonalWebsite.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<div style="margin-top:7%; margin-bottom:20%">
    <h1 style="text-align: center; padding-bottom: 35px">@ViewData["Title"]</h1>
    <div class="text-mid-justify">
        <section>
            <p>
                In het begin van 2020 ben ik begonnen met het leren van programmeren. Als eerste begon ik te werken met Processing 3.0 en hierin heb ik de basics van programmeren mee geleerd
                (for-loops, lists, basic data types).
            </p>
            <p>
                In de tweede helft van 2020 ben ik begonnen met de basis van object georiënteerd programmeren, in het begin deed ik dat nog in Processing 3.0 maar na een tijdje stapte ik over naar Eclipse.
                In Eclipse heb ik geleerd om object georiënteerd te programmeren ik heb geleerd om classes te schrijven met daarin data en functionaliteit en hiermee programma's te schrijven.
                Ik heb een beetje geleerd over de Swing framework in Java maar sindsdien ben ik overgestapt naar C# en Visual Studio. In 2021 ben ik C# gaan leren, eerst ben ik begonnen met het schrijven van
                console apps maar ik ben nu ook ASP.net en Forms/WPF aan het ontdekken.
            </p>

            <p>
                <h2 style="text-align: center; padding: 20px 0 20px 0;">Wat wil ik leren in de toekomst/waarmee ben ik bezig</h2>

                <ul>
                    <li>Leren werken met ASP.NET en Entity Framework</li>
                    <li>SQL/werken met databases</li>
                    <li>GUI's bouwen in Forms/WPF</li>
                    <li>De fundamentelen van OOP beter controleren(overerfing, interfaces & polymorphisme)</li>
                </ul>
            </p>
        </section>
    </div>
</div>