@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-md-center">
    <div style="margin-top:15%; margin-bottom:20%">
        <img class="img-fluid" width="500" style="margin-bottom: 5%;" src="/Images/logo_groot.png" />

        <p>Ik ben een programmeur, ik ben ermee begonnen in 2020; ik heb gewerkt met Processing 3.0, Java en C#. Dit is mijn persoonlijke website, hieraan zal ik mijn persoonlijk uitgelichte projecten toevoegen.</p>
    </div>
</div>